# Base de datos (connection string completo a tu cloud DB)
DB_CONNECTION_STRING=Server=mysql-212e145e-solobrihan-ac8f.i.aivencloud.com;Database=dbacciones;User=avnadmin;Password=AVNS_G0zfdNZA973ugb2fK2x;Port=10637;

# JWT
JWT_KEY=TuClaveSecretaSuperSeguraDeAlMenos32CaracteresParaJWT2024!

# Email SMTP
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
SMTP_EMAIL=notificacionessgi@sanchezpolo.com
SMTP_PASSWORD=N0t1fiS6i
